/* top-section start */

#top-section {
	background-image: url("assets/images/header-bg.png");
	background-repeat: no-repeat;
	display: block;
	height: ;
}

.container {
	height: 600px;
}

.top-left-div {
	width: 50%;
	float: left;
}

.top-right-div {
	width: 50%;
	float: right;
}

.top-left-content {
	position: absolute;
	padding-top: 250px;
	margin-left: 150px;
}

h3 {
	font-size: 30px;
	letter-spacing: 1.5px;
	padding-bottom: 10px;
}

p {
	margin-bottom: 20px;
}

.btn {
	padding: 10px 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: #FF448E;
	transition: 0.4s linear;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #FFB627;
	color: white;
}

.name-highlight {
	font-size: 50px;
	font-weight: bold;
	color: #FF448E;
	margin-bottom: 30px;
}

img {
	width: 100%;
	height: auto;
}


/* top-section end */


/* biography-section start */

#biography-section {
	background-image: url("assets/images/biography-bg.png");
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: auto;
}

.biography-left-section {
	width: 50%;
	float: left;
	margin-left: 25px;
	position: block;
}

.biography-right-section {
	width: 40%;
	float: left;
	margin-top: 130px;
}

.bio-image-div {
	width: 50%;
	display: block;
	float: right;
	padding-right: 80px;
}


/* biography-section end */


/* work-section start */

#work-section {
	background-image: url("assets/images/latest-work-bg.png");
	background-repeat: no-repeat;
}

#work-section h3 {
	text-align: center;
	padding-bottom: 50px;
}

.latest-work {
	width: 90%;
	margin: 0px 10%;
	float: left;
	padding-bottom: 50px;
}

.latest-work a img {
	float: left;
	width: 30%;
	align-items: center;
}

.latest-work a {
	padding: 5px;
}


/* work-section end */


/* client-say-section start */

#client-say-section {
	width: 50%;
	height: 600px;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}

#client-say-section h5 {
	padding-top: 50px;
	font-size: 20px;
}

.client-profation {
	font-size: 10px;
	color: gray;
	padding-top: 10px;
}

.client-massage {
	width: 75%;
	padding-top: 25px;
	margin: 0px auto;
}


/* client-say-section end */


/* contact-section start*/

#contact-section {
	background: ;
	padding: 80px 0;
	text-align: center;
}

.inner-width {
	max-width: 600px;
	margin: auto;
	padding-top: ;
	padding: 0 20px;
}

#contact-section h1 {
	font-size: 30px;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 400px;
}

.name,
.email,
.message {
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	color: ;
	padding: 10px 6px;
	font-size: 14px;
	margin-bottom: 40px;
}

.name {
	float: left;
	width: 270px;
}

.email {
	float: right;
	width: 270px;
}

.message {
	min-width: 100%;
	max-width: 100%;
}

#contact-section button {
	background: #FF448E;
	color: white;
	border: none;
	padding: 12px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.4s linear;
	cursor: pointer;
}

#contact-section button:hover {
	background: #FFB627;
	color: white;
}


/* contact-section end*/


/*-- programming-hero-section start--*/

#Programming-hero-section {
	text-align: center;
}

#Programming-hero-section button {
	background: #FF448E;
	color: white;
	border: none;
	padding: 40px 100px;
	border-radius: 8px;
	font-size: 14px;
	transition: 0.4s linear;
	cursor: pointer;
}

#Programming-hero-section button:hover {
	background: #FFB627;
	color: white;
}

#Programming-hero-section button a {
	font-size: 25px;
}


/*-- programming-hero-section end --*/


/*-- footer section steart --*/

footer {
	text-align: center;
	color: #888;
	margin-top: 85px;
	margin-bottom: 20px;
}

/*-- footer section end--*/